# MongoDB connection string
MONGO_URI=

# Port for the backend server
PORT=

# JWT configuration
JWT_SECRET=
JWT_EXPIRE=

# Environment
NODE_ENV=

# Maximum file size for uploads (10 MB)
MAX_FILE_SIZE= 
